
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1{
    width: 286px;
    height: 28px;
    font-size: 30px;
    color: #333333;
}
h2{
    color: #333333;
    line-height: 25px;
    font-size: 28px;
}

.text{
    color: #333333;
    line-height: 25px;
}
.bold{
    color: #333333;
    font-weight: 700;
}
.red{
    color:red;
}
h4{
    color: #333333;
    font-size: 20px;
}
.right{
    color: #333333;
    text-align: right;
}
.Wspace{
    color: #333333;
    text-transform: uppercase;
}
.decoration{
    font-style: oblique ;
}
.line{
    text-decoration:underline;
    height: 28px;
}
.center{
    text-align: center;
}
h2{
    color: #333333;
    font-size: 28px;
}
.through{
    text-decoration: line-through;
}
.text{
    font-size: 16px;
}
.shadow{
    text-shadow: 1px 1px 2px;
}

