body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 64;
    font-weight: 200;
    color: rgb(0, 0, 0);
}

p{
    padding: auto;
    font-size: 24px;
    margin-bottom: 10px;
    height: 50px;
    background-color: rgb(108, 119, 174);
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

a {
    font-size: 24px;
    color: blueviolet;
}
img {
    height: 100%;
    max-width: 500px;
}
